ul {
  list-style-type: none;
}
span {
  padding-right: 20px;
  padding-left: 20px;
}
h1 {
  text-align: center;
}

#for_list li:hover {
  background-color: burlywood;
}
#for_list li {
  text-align: center;
}
#addtolist {
  width: 395px;
}

.ta-center {
  text-align: center;
}
.hMax {
  height: 100%;
}
.color1 {
  background-color: bisque;
}
.color2 {
  background-color: lightgray;
}
.color3 {
  background-color: burlywood;
}
.b1 {
  border: 1px solid black;
}
.dNone {
  display: none;
}
.dInlineBlock {
  display: none;
}
.w-250px {
  width: 250px;
}
.w-270px {
  width: 284px;
}
.hidden {
  visibility: hidden;
}
