.color1 {
  background-color: bisque;
}
.b1 {
  border: 1px solid black;
}
#addtolist {
  width: 260px;
}
ul {
  list-style-type: none;
}
#for_list li:hover {
  background-color: burlywood;
}
#for_list li {
  text-align: center;
}
.hMax {
  height: 100%;
}
